<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284340395549-objhd7d6bvl2hmkh5aapbb0mhtpjtua1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284340395549-objhd7d6bvl2hmkh5aapbb0mhtpjtua1</string>
	<key>API_KEY</key>
	<string>AIzaSyDGdyLgFkpkKUTI-ZoOExE3SlSpugnbByY</string>
	<key>GCM_SENDER_ID</key>
	<string>284340395549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestFlutterUiTemplates</string>
	<key>PROJECT_ID</key>
	<string>kernml</string>
	<key>STORAGE_BUCKET</key>
	<string>kernml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284340395549:ios:31d995f703486cc4ed70f4</string>
</dict>
</plist>